

.signin_form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.form_one {
  display: flex;
  gap: 10px;
}
.form_two {
  display: flex;
  gap: 10px;
}

.dialog_title {
  display: flex;
  gap: 170px;
}

.soga {
  color: rgb(230, 198, 230);
  font-style: bold;
  font-family: sans-serif;
  margin-left : -20px
}

.continue_as {
  background-color: azure;
  border-style: solid;
  border-width: 1px;
  border-color: #008080;
  border-radius: 10px;
  padding: 10px;
}

