html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: rgb(237, 232, 247);
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: blue;
  padding-left: 60%;
  font-size: small;
}

* {
  box-sizing: border-box;
}

hr {
  border: 0;
  height: 1px;
  width: 100%;
  color: red;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

.cropper {
  /* PopUp */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  z-index: 100;
  background-color: rgb(46, 41, 41);
}

.bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}
/* Background Image */
.backgroundImage {
  height: 90px;
  width: 100%;
  background-color: dodgerblue;
}

.redirect {
  border-radius: 15px;
  border-style: solid;
  border-color: plum;
  border-width: 1.5px;
  width: 40%;
  top: 50%;
  left: 50%;
  transform: translate(75%, 50%);
  cursor: pointer;
}
.redirect :hover {
  background-color: plum;
  border-radius: 15px;
}
#frSent :hover {
  cursor: pointer;
}
#frSent {
  color: purple;
  font-size: small;
}

/* width */

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px white; */
  border-radius: 0px;
  background-color: unset;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(155, 154, 154);
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(194, 21, 194);
}

.animated {
  font-feature-settings: "rlig" 1, "calt" 0;
  --content: "Develop.";
  --padding: 0.05em;
  --start-color: dodgerblue;
  --end-color: blue;
  box-sizing: border-box;
  animation: 2s infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    90deg,
    var(--start-color),
    var(--end-color)
  );
  position: relative;
  z-index: 1;
}
.animated1 {
  font-feature-settings: "rlig" 1, "calt" 0;
  --content: "Develop.";
  --padding: 0.05em;
  --start-color: dodgerblue;
  --end-color: blue;
  box-sizing: border-box;
  animation: 2s infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    90deg,
    var(--start-color),
    var(--end-color)
  );
  position: relative;
  z-index: 1;
}
.animated2 {
  font-feature-settings: "rlig" 1, "calt" 0;
  --content: "Develop.";
  --padding: 0.05em;
  --start-color: #ff4d4d;
  --end-color: #f9cb28;
  box-sizing: border-box;
  animation: 2s infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    90deg,
    var(--start-color),
    var(--end-color)
  );
  position: relative;
  z-index: 1;
}
.animated3 {
  font-feature-settings: "rlig" 1, "calt" 0;
  --content: "Develop.";
  --padding: 0.05em;
  --start-color: #ff4d4d;
  --end-color: #f9cb28;
  box-sizing: border-box;
  animation: 2s infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    90deg,
    var(--start-color),
    var(--end-color)
  );
  position: relative;
  z-index: 1;
}

/* Animate comming soon with changing colors in Gradient  */
.comming_soon {
  animation-name: comming_soon;
  animation-duration: 50s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  background-image: linear-gradient(
    90deg,
    #ff4d4d,
    #f9cb28,
    #ff4081,
    whitesmoke,
    dodgerblue,
    #ff4d4d,
    #f9cb28,
    #ff4081,
    whitesmoke,
    #ff4d4d
  );
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes comming_soon {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
